.header {
    background-color: #212429;
}

.main {
    background-image: url(../img/bg.jpg);

    color: #fff;
}

.error__message {
    width: 50%;
    margin: auto;
    text-align: center;

    background-color: #fff;
    color: darkred;
}

.error__message_border {
    border: 1px solid darkred;
}